<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="etsii.cm.amigoinvisible">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".EventList_Activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".EventEdit_Activity"
                  android:screenOrientation="portrait"></activity>

        <activity android:name=".MyFriend_Activity"
                  android:screenOrientation="portrait"></activity>

        <activity android:name=".WishDetail_Activity"
                  android:screenOrientation="portrait"></activity>

        <activity android:name=".WishEdit_Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".EventDetail_Activity"
                  android:screenOrientation="portrait"></activity>

        <activity android:name=".Profile_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity android:name=".ParticipantList_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>

    </application>

</manifest>